.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0;
  color: #4d4d4d;
  background: #105469;
}

#title {
  text-align: center;
  color: #e2b842;
}

#users {
  background: #012b39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}

#users td,
#users th {
  border: 1px solid #ddd;
  padding: 12px;
}

#users td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}

#users th .icon {
  margin-right: 1rem;
  margin-top: -4rem;
}

#users tr:hover {
  background-color: #014055;
}

#users th {
  border-bottom: 1px solid #e2b842;
  color: #e2b842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: center;
}

.opration {
  text-align: center;
}

.button {
  border: none;
  outline: none;
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  color: #e2b842;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #e2b842;
  background-color: transparent;
}
